
#castcrew {
	float: left;
	background-color: #000;
	width: 100%;
	color: #fff;
	text-align: center;
	padding:6% 0;
}

@media (min-width: 900px) { 
	#castcrew {
		float: left;
		background-color: #000;
		width: 100%;
		color: #fff;
		text-align: center;
		padding-top:3%;
	}
}


#team_title {
	text-align: center;
	margin-bottom: 2rem;
}

#team_container {
	float: left;
	width: 100%;
}


#team_content {
	float: left;
}

#team_holder {
	position: relative;
}

#team_arrow_l {
	float: left;
	cursor: pointer;
	width: 6.8rem;
	height: 11.4rem;
	margin: 27rem 0;
}

@media (min-width: 900px) { 
	#team_arrow_l {
		float: left;
		cursor: pointer;
		width: 6.8rem;
		height: 11.4rem;
		margin: 13rem 0;
	}
}


#team_arrow_r {
	float: right;
	cursor: pointer;
	width: 6.8rem;
	height: 11.4rem;
	margin: 27rem 0;

}
@media (min-width: 900px) { 
	#team_arrow_r {
		float: right;
		cursor: pointer;
		width: 6.8rem;
		height: 11.4rem;
		margin: 13rem 0;
	}
}

#team_img img {
	width: 100%;
	height: auto;
}

.team_entry {
	position: absolute;
	color: #FFF;
	text-align: center;
} 

.team_img {
	overflow: hidden;
	width: 67rem;
	height: 30rem;
	margin-bottom: 2rem;
} 

@media (min-width: 900px) { 
	.team_img {
		overflow: hidden;
		width: 40rem;
		height: 17.2rem;
		margin-bottom: 2.5rem;
	} 
}

.team_img img {
	width: 100%;
	height: auto;
}

.team_title {
	font-family: 'sitefont';
	font-size: 8rem;
	line-height: 8rem;
	margin: 1rem 0 0 0;
} 

@media (min-width: 900px) { 
	.team_title {
		font-family: 'sitefont';
		font-size: 3.3rem;
		line-height: 3.6rem;
		margin: 2rem 0;
	} 
}

.team_desc {
	font-family: 'Arial';
	font-size: 3rem;
	line-height: 3.5rem;
	margin: 2rem 0;
} 

@media (min-width: 900px) { 
	.team_desc {
		font-family: 'Arial';
		font-size: 1.6rem;
		line-height: 2.4rem;
		margin: 2rem 0;
	} 
}

.team_read_more {
	font-family: 'sitefont';
	font-size: 6rem;
	line-height: 10rem;
	margin-top: 1rem;
	width:60%;
	margin: 4rem auto;
	background-color: #fff;
	color:#000;
} 

@media (min-width: 900px) { 
	.team_read_more {
		font-family: 'sitefont';
		font-size: 3rem;
		line-height: 4.5rem;
		margin-top: 1rem;
		width:60%;
		margin: 4rem auto;
		background-color: #fff;
		color:#000;
	} 
}





#team_overlay {
	position: absolute;
	z-index: 2000;
	width: 100%;
	height:0;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: #fff;
}
#team_article {
}

#team_article_img {
	float: left;
	width:100%;
	margin-bottom:2rem;
	
}

#team_article_img img {
	width: 100%;
	height: auto;
}

#team_nav {
	float: left;
	width: 100%;
	background-color: #fff;
	color: #000;
}

#team_article_close {
	float: right;
	display:inline-block;
	vertical-align: middle;
	cursor: pointer;
	font-size: 5rem;
	line-height: 5rem;
	margin: 2.5rem 3rem 0 0;
}

@media (min-width: 900px) { 
	#team_article_close {
		float: right;
		display:inline-block;
		vertical-align: middle;
		cursor: pointer;
		font-size: 3.6rem;
		line-height: 4rem;
		margin: 1.5rem 3rem 0 0;
	}
}

#team_nav_img {
	float: left;
	vertical-align: middle;
	display:inline-block;
	width:60rem;
}

@media (min-width: 900px) { 
	#team_nav_img {
		float: left;
		vertical-align: middle;
		display:inline-block;
		width:40rem;
	}
}
.team_article_title {
	float: left;
	width: 82rem;
	font-family: 'sitefont';
	font-size: 6rem;
	line-height: 7.2rem;
	margin: 2rem 4rem 1rem 4rem;
	color: #d90e0e;

}

@media (min-width: 900px) { 
	.team_article_title {
		float: left;
		width: 154rem;
		font-family: 'sitefont';
		font-size: 5rem;
		line-height: 6.2rem;
		margin: 2rem 4rem 1rem 4rem;
		color: #d90e0e;

	}
}


.team_article_desc {
	float: left;
	width: 82rem;
	font-family: 'Arial';
	font-size: 3rem;
	line-height: 4rem;
	margin: 1rem 3rem 4rem 3rem;
	
}

@media (min-width: 900px) { 
	.team_article_desc {
		float: left;
		width: 154rem;
		font-family: 'Arial';
		font-size: 2rem;
		line-height: 2.8rem;
		margin: 1rem 3rem 4rem 3rem;
		
	}
}

p {
	margin:1.5rem;
}



